<div class="contents row">
  <div class="user-prf">
  </div>
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
      <div class="title">
        <p><b><%= post.title %></b></p>
          <%= image_tag post.image.variant(resize: '500x500'), class: 'post-img' %>
            </div>投稿内容
            <p><%= post.text %></p>
    <% end %>
</div>