<div class="post-contents">

</div>
  <div class="contents row">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id), method: :get do %>
        <div class="title">
          <p><b><%= post.title %></b></p>
        </div>投稿内容
          <p><%= post.text %></p>
            <%= image_tag post.image.variant(resize: '500x500'), class: 'post-img' %>
      <% end %>
    <% end %>
  </div>