<div class="post-info">
  <div class="title">
    <p><b><%= @post.title %></b></p>
  </div>投稿内容
    <p><%= @post.text %></p>
      <%= image_tag @post.image.variant(resize: '500x500'), class: 'post-img' %>
      <p><%= link_to '編集', edit_post_path(@post.id), method: :get, class: "post-red-btn" %></p>
        <p class='or-text'>or</p>
     
</div>